html
  head
    style(type='text/css').
      @font-face {
        font-family: 'Roboto Bold';
        font-style: normal;
        font-weight: bold;
        src: local('Roboto-Bold.ttf'), url('https://saltandpepper.co/aix/Roboto-Bold.ttf') format('truetype');
      }
      .td-first, p{
        font-size:15px;
        font-weight:bold;
      }
      tr,td{
        padding-bottom:10px;
      }
      .td-second{
        padding-left:100px;
      }
      .image{
        padding-bottom:20px;
        width: 115px;
      }

  body
    div(style={ 'background-color': '#2ca2a2', 'height': '10px', 'margin-bottom': '25px' })
    div.image
      img.image(src="https://s3.us-east-2.amazonaws.com/s3-saltandpepper//Users/aix/AiX-Logo.png")
    div(style={ 'font-size': '15px', 'padding-bottom' : '10px' })
      b CRYPTO CURRENCY TRADE CONFIRMATION:
    div(style='font-size: 14px')
        table
          tr
            td.td-first  To:
            td.td-second #{fullName}
          tr
            td.td-first  EXECUTION DATE & TIME:
            td.td-second #{transactionConfirmationTime}
          tr
            td.td-first  CONTRACT:
            td.td-second #{contract}
          tr
            td.td-first  CLEARING TYPE:
            td.td-second OTC
          tr
            td.td-first  BUYER:
            td.td-second #{trader1FirstName} #{trader1LastName}
          tr
            td.td-first  SELLER:
            td.td-second #{trader2FirstName} #{trader2LastName}
          tr
            td.td-first  PRODUCT DETAILS:
            td.td-second #{instrumentName}
          tr
            td.td-first  TRADE QUANTITY:
            td.td-second #{volume} #{instrumentName}
          tr
            td.td-first  CONTRACT MONTH:
            td.td-second #{transactionConfirmationMonth}
          tr
            td.td-first  CONTRACT RATE:
            td.td-second USD $#{price}
          tr
            td.td-first  CONTRACT VALUE:
            td.td-second USD $#{value}
          tr
            td.td-first  SETTLEMENT PERIOD(S):
            td.td-second 1 DAY
          tr
            td.td-first  AIX COMMISSION:
            td.td-second USD $#{commission}
          if buyingOrBiding
            tr
              td.td-first(colspan="2") Please send funds to this bank details to complete transaction
            tr
              td.td-first  Beneficiary Name:
              td.td-second #{beneficiaryName}
            tr
              td.td-first  Beneficiary Address:
              td.td-second #{beneficiaryAddress}
            tr
              td.td-first  Account Number:
              td.td-second #{accountNumber}
            tr
              td.td-first  Routing Number:
              td.td-second #{routingNumber}
            tr
              td.td-first  Bank Name:
              td.td-second #{bankName}
            tr
              td.td-first  Bank Address:
              td.td-second #{bankAddress}
          else
            tr
              td.td-first(colspan="2") Please send funds to this wallet address to complete transaction
            tr
              td.td-first  WALLET ADDRESS:
              td.td-second #{walletAddress}
        p
          | The above details represent AiX's record of the transaction. Please advise within 30 minutes if you disagree with any of the detailed terms.
        p
          | Kind regards,
          br
          |Aix
        p
          | Registered Office: 151 Wardour Street, London, W1f 8WE, United Kingdom

    div(style={ 'background-color': '#2ca2a2', 'height': '10px', 'margin-top': '25px' })
